<h1>New Task</h1>
<%= form_for @task, html: {class: "new-form"} do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: @task.title || "Name of task" %>
  <br />

  <%= f.label :first_due_date %>
  <%= f.date_field :first_due_date, placeholder: @task.first_due_date || "Click arrow for calendar" %>
  <br />

  Do every:
  <%= f.select :frequency_number, (0..31) %>
  <%= collection_select(:task, :frequency_unit, Frequency.all, :unit, :time_unit ) %>

  <br />
  <br />
  <%= f.submit "Create" %>
<% end %>