<h1><%= @task.title %></h1>

<div class="align-section">
  <div class="inline">
    <%= link_to '<i class="the-icons icon-edit"></i>'.html_safe, edit_task_path(:task_id => @task.id) %>
  </div>
  <div class="done-section">
   <%= button_to("Done!", task_path(id: @task.id), class: 'btn mark-done', :method => :patch, params: { task: { date_completed: Time.new}}) %>
  </div>
</div>

<br />
<div>
  Next up: <%= @task.next_due_date.strftime("%B %d, %Y") %><br />
  Frequency: every <%= @task.frequency_number %>
  <% if @task.frequency_number < 2 %>
    <%= @task.frequency_unit.singularize %>
  <% else %>
    <%= @task.frequency_unit %>
  <% end%>


</div>

<div>
    <% if @task.task_histories.count > 0 %>
      <h2 class="less-bottom-padding">Last done:</h2>
      <ul class="indent">
        <% @task.task_histories.order('last_due_date DESC').each do |task_history| %>
          <li><%= task_history.last_due_date.strftime("%B %Y") %></li>
        <% end %>
      </ul>
    <% end %>
</div>

<div class="align-section">
  <h2 class="inline">Supplies & Contacts...</h2>
  <%= link_to '<i class="the-icons icon-plus-squared-alt"></i>'.html_safe, new_detail_path(:task_id => @task.id), class: "inline" %>
  <ul class="indent-list">
      <% @task.details.each do |detail| %>
        <% if detail.todo.instance_of? SupplyDetail %>
          <li>Get supplies: <%= link_to detail.todo.name, detail_path(detail.id) %></li>
        <% elsif detail.todo.instance_of? ContactDetail %>
          <% if detail.todo.company.blank? %>
            <% display_name = detail.todo.name %>
          <% else %>
            <% display_name = detail.todo.company %>
          <% end %>
          <li>Make appointment: <%= link_to display_name, detail_path(detail.id)%> </li>
        <% else %>
        <% end %>
    <% end %>
  </ul>
</div>

<div class="bottom-section">
  <div>
    <%= link_to '<i class="the-icons icon-trash-empty"></i>'.html_safe, task_path, method: :delete %>
  </div>
</div>

