<h1><%= @task.title %></h1>
<div>
  Next up: <%= @task.due.strftime("%B %d, %Y") %>

  (every <%= @task.frequency_number %> <%= @task.frequency_unit.singularize %>)
</div>
<%= link_to "Link to add details", new_detail_path(:task => {:task_id => @task.id}) %>
<div>
  <h2>Last done (currently static):</h2>
  <ul>
    <li>June 2018</li>
    <li>Dec 2017</li>
    <li>June 2017</li>
  </ul>
</div>

<div>
  <h2>To Do...</h2>
  <ul>
      <% @task.details.each do |detail| %>
        <% if detail.todo.instance_of? SupplyDetail %>
          <li>Get supplies (<%= detail.todo.name %>) </li>
        <% else %>
          <li>Make appointment: (<%= link_to detail.todo.company, detail_path(detail.id) || detail.todo.name %>) </li>
        <% end %>

    <% end %>
  </ul>
</div>

<div>
  <h2>Notes</h2>
  <%= @task.notes %>
</div>
