<h1><%= @task.title %></h1>

<div class="the-icons">
  <%= link_to '<i class="the-icons icon-edit"></i>'.html_safe, edit_task_path(:task_id => @task.id) %>
</div>

<div class="the-icons">
  <%= link_to '<i class="the-icons icon-trash-empty"></i>'.html_safe, task_path, method: :delete %>
</div>

<% if notice.present? %>
  <%= notice %><br />
  <% if @task.details.last.todo_type == "SupplyDetail" %>
    Do you have a <%= link_to "contractor", new_detail_path(:task_id => @task.id, :detail_type => "contact") %> to add?
  <% end %>
<% end %>

 <%= button_to("Mark as Done", task_path(id: @task.id), class: 'btn', :method => :patch, params: { task: { date_completed: Time.new}}) %>
<br />
<div>
  Next up: <%= @task.next_due_date.strftime("%B %d, %Y") %><br />
  Frequency: every <%= @task.frequency_number %> <%= @task.frequency_unit %>
</div>

<div>
    <h2>Last done:</h2>
    <ul>
      <li> need to add when have task history </li>
    </ul>
</div>

<div>
  <h2>To Do...</h2>
  <%= link_to '<i class="the-icons icon-plus-squared-alt"></i>'.html_safe, new_detail_path(:task_id => @task.id) %>
  <ul>
      <% @task.details.each do |detail| %>
        <% if detail.todo.instance_of? SupplyDetail %>
          <li>Get supplies: <%= link_to detail.todo.name, detail_path(detail.id) %></li>
        <% elsif detail.todo.instance_of? ContactDetail %>
          <% if detail.todo.company.blank? %>
            <% display_name = detail.todo.name %>
          <% else %>
            <% display_name = detail.todo.company %>
          <% end %>
          <li>Make appointment: <%= link_to display_name, detail_path(detail.id)%> </li>
        <% else %>
        <% end %>
    <% end %>
  </ul>
</div>

