<h2>Contact</h2>
<%= form_for @detail do |form| %>
    <%= form.hidden_field :todo_type, value: ContactDetail %>
  <%= form.fields_for :todo do |todo_form| %>
    <%= hidden_field_tag 'task_id', @task.id %>

    <div>
        <%= todo_form.label "Company" %>
        <%= todo_form.text_field :company, options = { placeholder: @detail.todo.try(:company), value: @detail.todo.try(:company), required: false, autofocus: true } %>
    </div>
    <div>
        <%= todo_form.label "Name" %>
        <%= todo_form.text_field :name, placeholder: @detail.todo.try(:name), value: @detail.todo.try(:name), required: false %>
    </div>
    <div>
        <%= todo_form.label "Url" %>
        <%= todo_form.url_field :url, placeholder: @detail.todo.try(:url), value: @detail.todo.try(:url), required: false %>
    </div>
    <div>
        <%= todo_form.label "Email" %>
        <%= todo_form.email_field :email, placeholder: @detail.todo.try(:email), value: @detail.todo.try(:email), required: false %>
    </div>
    <div>
        <%= todo_form.label "Landline" %>
        <%= todo_form.telephone_field :work_phone, placeholder: @detail.todo.try(:work_phone), value: @detail.todo.try(:work_phone), required: false %>
    </div>
    <div>
        <%= todo_form.label "Mobile" %>
        <%= todo_form.telephone_field :mobile_phone, placeholder: @detail.todo.try(:mobile_phone), value: @detail.todo.try(:mobile_phone), required: false %>
    </div>
    <div>
        <%= todo_form.label "Notes" %>
        <%= todo_form.text_area :notes, placeholder: @detail.todo.try(:notes), value: @detail.todo.try(:notes), required: false %>
    </div>




  <% end %>
  <%= form.submit "Submit" %>
<% end %>

