<%= link_to "<< back", @task %>
<br><br>
<div class="the-icons">
  <%= link_to '<i class="the-icons icon-edit"></i>'.html_safe, edit_detail_path(:detail_id => @detail.id)%>
</div>
<br>

<div class="the-icons"><i class="icon-building"></i>
<%= @detail.todo.company %><br /></div>

<div class="the-icons"><i class="icon-user"></i>
<%= @detail.todo.name %><br /></div>

<div class="the-icons"><i class="icon-globe"></i>
<%= link_to my_link_to(@detail.todo.url), @detail.todo.url %><br />

<div class="the-icons"><i class="icon-envelope-open-o"></i>
<%= @detail.todo.email %><br />

<div class="the-icons"><i class="icon-volume-control-phone"></i>
  <% unless @detail.todo.work_phone.blank? %>
    <%= link_to @detail.todo.work_phone, "tel:#{@detail.todo.work_phone}" %><br />
  <% end %>

<div class="the-icons"><i class="icon-mobile"></i>
  <% unless @detail.todo.mobile_phone.blank? %>
    <%= link_to @detail.todo.mobile_phone, "tel:#{@detail.todo.mobile_phone}" %><br />
  <% end %>

<div class="the-icons"><i class="icon-doc-text"></i>
<%= @detail.todo.notes %><br />

<div class="bottom-section">
  <div>
    <%= link_to '<i class="the-icons icon-trash-empty"></i>'.html_safe, detail_path(:detail_id => @detail.id), method: :delete %>
  </div>
</div>