
<div class="text-field">
  <%= form.label :username %>
  <%= form.text_field :username %>
</div>

<div class="text-field">
  <%= form.label "Number that we will send your text reminders to" %>
  <%= telephone_field(:user, :text_number, options = { require: true }) %>
</div>

<div class="text-field">
  <%= form.label :email %>
  <%= email_field(:user, :email) %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>

