<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

<label class="red">
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
    <%= message %>.<br />
   <% end %>
  <% end %>
</label>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
</div>
