<%= form_for @detail do |form| %>
    <%= form.hidden_field :todo_type, value: SupplyDetail %>
  <%= form.fields_for :todo do |todo_form| %>
    <%= hidden_field_tag 'task_id', @task.id %>

    <div>
    <%= todo_form.label "Thing to get" %>
    <%= todo_form.text_field :name, label: "Thing to get", placeholder: @detail.todo.try(:name), value: @detail.todo.try(:name) %></div>

    <div>
    <%= todo_form.label "How many" %>
    <%= todo_form.text_field :quantity, placeholder: @detail.todo.try(:quantity), value: @detail.todo.try(:quantity), required: false %></div>

    <div>
    <%= todo_form.label :size %>
    <%= todo_form.text_field :size, placeholder: @detail.todo.try(:size), value: @detail.todo.try(:size), required: false %></div>

    <div>
    <%= todo_form.label :brand %>
    <%= todo_form.text_field :brand, placeholder: @detail.todo.try(:brand), value: @detail.todo.try(:brand), required: false %></div>

    <div>
    <%= todo_form.label :model %>
    <%= todo_form.text_field :model, placeholder: @detail.todo.try(:model), value: @detail.todo.try(:model), required: false %></div>

    <div>
    <%= todo_form.label "Where to get" %>
    <%= todo_form.text_field :source, placeholder: @detail.todo.try(:source), value: @detail.todo.try(:source), required: false %></div>

    <div>
    <%= todo_form.label "Link to buy" %>
    <%= todo_form.url_field :source_link, placeholder: @detail.todo.try(:source_link), value: @detail.todo.try(:source_link), required: false %></div>

    <div>
    <%= todo_form.label "Link to how to" %>
    <%= todo_form.url_field :how_to_link, placeholder: @detail.todo.try(:how_to_link), value: @detail.todo.try(:how_to_link), required: false %></div>
    <br />

  <% end %>
  <%= form.submit "Submit" %>
<% end %>