<h2>Get</h2>
<%= @detail.todo.quantity %> <%= @detail.todo.name.capitalize %>
<br />
Brand: <%= @detail.todo.brand %>
<br />
Model: <%= @detail.todo.model %>

<br />
Size: <%= @detail.todo.size %>
<br />

<br />
From: <%= @detail.todo.source %>
<br />
Link to get: <%= @detail.todo.source_link %>
<br />
Link to how to: <%= @detail.todo.how_to_link %>
