<%= link_to "<< back", @task %>
<div class="the-icons">
  <%= link_to '<i class="the-icons icon-edit"></i>'.html_safe, edit_detail_path(:detail_id => @detail.id) %>
</div>

<h2>Get...</h2>
What: <%= @detail.todo.quantity %> <%= @detail.todo.name.capitalize %>
<br />
Brand: <%= @detail.todo.brand %>
<br />
Model: <%= @detail.todo.model %>

<br />
Size: <%= @detail.todo.size %>
<br />

<br />
From where: <%= @detail.todo.source %>
<br />
To get: <%= link_to limited_url(@detail.todo.source_link), @detail.todo.source_link %>
<br />
How to: <%= link_to limited_url(@detail.todo.how_to_link), @detail.todo.how_to_link %>
<br />
<div class="bottom-section">
  <div>
    <%= link_to '<i class="the-icons icon-trash-empty"></i>'.html_safe, detail_path(:detail_id => @detail.id), method: :delete %>
  </div>
</div>