<div class="the-icons">
  <%= link_to image_tag("edit-wine.svg", :alt =>  "edit-icon", :height => 30, :class => "img-responsive"), edit_detail_path(:detail_id => @detail.id) %>
</div>

<h2>Get...</h2>
What: <%= @detail.todo.quantity %> <%= @detail.todo.name.capitalize %>
<br />
Size: <%= @detail.todo.size %>
<br />
Brand: <%= @detail.todo.brand %>
<br />
Model: <%= @detail.todo.model %>

<br />
<br />
From where: <%= @detail.todo.source %>
<br />
To get: <%= link_to limited_url(@detail.todo.source_link), @detail.todo.source_link %>
<br />
<br />
How to: <%= link_to limited_url(@detail.todo.how_to_link), @detail.todo.how_to_link %>
<br />
Notes: <%= @detail.todo.supply_notes %>
<br />
<div class="bottom-section">
  <div>
    <%= link_to image_tag("trash-wine.svg", :alt =>  "trash-icon", :height => 30, :class => "img-responsive"), detail_path(:detail_id => @detail.id), method: :delete %>
  </div>
</div>


