<h1>Upcoming due...</h1>

<% if alert.present? %>
  <%= alert %><br />
<% end %>

<%= link_to '<i class="the-icons icon-plus-squared-alt"></i>'.html_safe, new_task_path %>


<div>
    <% if @tasks.count >= 1 %>
      <ul class="upcoming-list">
          <% @tasks.each do |task| %>
            <li class="upcoming-item">
              <%= link_to task.title.capitalize, task_path(task.id), class: "task-title" %> <br />
              <em>next due:</em> <%= task.next_due_date.strftime("%B %d, %Y") %>
            </li>
          <% end %>
      </ul>
    <% else %>
      Upcoming tasks will appear here. <%= link_to "Add a task here!", new_task_path %>
    <% end %>
</div>