<h1><%= @task.title %></h1>

<div>
  <div class="center">
    <% if @detail_type == "supply" %>
      <%= render 'supply_details/form' %>
    <% elsif @detail_type == "contact" %>
      <%= render 'contact_details/form' %>
    <% else %>
      <%= link_to "Supply", new_detail_path(:task_id => @task.id, :detail_type => "supply"), class: "outline wine" %> or <%= link_to "Contact", new_detail_path(:task_id => @task.id, :detail_type => "contact"), class: "outline wine right-space" %>?
    <% end %>
  </div>
</div>