<h1>Details to do the thing</h1>
<%= link_to '<i class="demo-icon icon-edit"></i>'.html_safe, edit_detail_path, class: 'large-icon right' %>
<br />

<div class="the-icons"><i class="demo-icon icon-building"></i>
<%= @detail.todo.company %><br /></div>

<div class="the-icons"><i class="demo-icon icon-user"></i>
<%= @detail.todo.name %><br /></div>

<div class="the-icons"><i class="demo-icon icon-globe"></i>
<%= link_to @detail.todo.url, "http://Google.com", :target => "_blank" %><br />

<div class="the-icons"><i class="demo-icon icon-envelope-open-o"></i>
<%= @detail.todo.email %><br />

<div class="the-icons"><i class="demo-icon icon-volume-control-phone"></i>
<%= link_to @detail.todo.work_phone, "tel:#{@detail.todo.work_phone}" %><br />

<div class="the-icons"><i class="demo-icon icon-mobile"></i>
<%= link_to @detail.todo.mobile_phone, "tel:#{@detail.todo.mobile_phone}" %><br />

<div class="the-icons"><i class="demo-icon icon-doc-text"></i>
<%= @detail.todo.notes %><br />
